# üêº Pandas Handbook

## 01 - Data Structures

Check out the official [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)

## üìö Table of Contents

---

üî¢ **Index Types in Pandas**  
üß± **Series**  
üß± **DataFrame**  
üëâ **Next Topic: Importing & Exporting Data**

---

In [1]:
import pandas as pd

### üî¢ Index Types in Pandas

The index in a pandas Series or DataFrame uniquely labels each row. The most common index types are:

**Integer Index** uses numbers each row: ``index=[0, 1]``  
**String Index** uses text labels: ``index=['x', 'y']``  
**Datetime Index** uses dates/timestamps: ``index=pd.to_datetime(['2023-01-01', '2023-01-02'])``

### üß± Series  
A one-dimensional labeled array capable of holding any data type

Create a simple Series with custom index labels.

In [2]:
s = pd.Series(data=[1,2,3], index=['a', 'b', 'c'])
s

a    1
b    2
c    3
dtype: int64

### üß± DataFrame
A two-dimensional labeled data structure with rows and columns.

Create a DataFrame from a dictionary (default integer index).

In [3]:
df = pd.DataFrame(data={'First name': ['John', 'Jim', 'Jack'],
                        'Last name': ['Doe', 'Evans', 'Farber'],
                        'Age': [29, 45, 37]})
df

  First name Last name  Age
0       John       Doe   29
1        Jim     Evans   45
2       Jack    Farber   37

Create the same DataFrame but with a custom row index.

In [4]:
df = pd.DataFrame(data={'First name': ['John', 'Jim', 'Jack'],
                        'Last name': ['Doe', 'Evans', 'Farber'],
                        'Age': [29, 45, 37]},
                  index=[1, 2, 3])
df

  First name Last name  Age
1       John       Doe   29
2        Jim     Evans   45
3       Jack    Farber   37

Create a DataFrame from a list of lists with custom row index and column names.

In [5]:
df = pd.DataFrame(data=[['John', 'Doe', 29],
                        ['Jim', 'Evans', 45],
                        ['Jack', 'Farber', 37]],
                  index=[1, 2, 3],
                  columns=['First name', 'Last name', 'Age'])
df

  First name Last name  Age
1       John       Doe   29
2        Jim     Evans   45
3       Jack    Farber   37

### üëâ Next Topic: [Importing & Exporting Data](./02-import-export.ipynb)

Learn how to import and export data with pandas.